.center
  %h1 Games
  %hr
  %ul
  %li
  = link_to 'Magic Eight Ball', home_magic_eight_ball_path
  %li
  = link_to 'Matching', home_matching_path
  %li
  = link_to 'Rock, Paper, Scissors', home_rps_path
  %li
  = link_to 'Tic-Tac-Toe', home_tic_tac_toe_path
