.center
  %h1 Matching
  = link_to 'Home', root_path
  %hr
  .row
    #b1.memory-box.amber.col.l1.offset-l4
      %h3.memory-card 1
    #b2.memory-box.amber.col.l1
      %h3.memory-card 2
    #b3.memory-box.amber.col.l1
      %h3.memory-card 3
    #b4.memory-box.amber.col.l1
      %h3.memory-card 4
  .row
    #b5.memory-box.amber.col.l1.offset-l4
      %h3.memory-card 5
    #b6.memory-box.amber.col.l1
      %h3.memory-card 6
    #b7.memory-box.amber.col.l1
      %h3.memory-card 7
    #b8.memory-box.amber.col.l1
      %h3.memory-card 8
  .row
    #b9.memory-box.amber.col.l1.offset-l4
      %h3.memory-card 4
    #b10.memory-box.amber.col.l1
      %h3.memory-card 3
    #b11.memory-box.amber.col.l1
      %h3.memory-card 2
    #b12.memory-box.amber.col.l1
      %h3.memory-card 1
  .row
    #b13.memory-box.amber.col.l1.offset-l4
      %h3.memory-card 8
    #b14.memory-box.amber.col.l1
      %h3.memory-card 7
    #b15.memory-box.amber.col.l1
      %h3.memory-card 6
    #b16.memory-box.amber.col.l1
      %h3.memory-card 5
