.center
  %h1 Tic Tac Toe
  = link_to 'Home', root_path
  %hr
  .row
    .col.l6.offset-l3
      %table
        %tr
          %td.ttt_box
            %h3#t1.ttt_value
          %td.ttt_box
            %h3#t2.ttt_value
          %td.ttt_box
            %h3#t3.ttt_value
        %tr
          %td.ttt_box
            %h3#t4.ttt_value
          %td.ttt_box
            %h3#t5.ttt_value
          %td.ttt_box
            %h3#t6.ttt_value
        %tr
          %td.ttt_box
            %h3#t7.ttt_value
          %td.ttt_box
            %h3#t8.ttt_value
          %td.ttt_box
            %h3#t9.ttt_value
